@keyframes wobble {
  50% {
  	transform: rotate(-20deg);
  }
  100% {
  	transform: rotate(20deg);
  }
}
img:hover {
  animation-name: wobble;
  animation-duration: 1s;
}
h2{
	text-align: center;
	font-size: 3em;
}
img{
	display: block;
	margin: auto;
}